<!DOCTYPE html>
<html>

<head>
    <title>Outfit Upload</title>
    <script>
        function showOptions(category) {
            document.getElementById("topOptions").style.display = "none";
            document.getElementById("bottomOptions").style.display = "none";
            document.getElementById("shoesOptions").style.display = "none";

            if (category === "top") {
                document.getElementById("topOptions").style.display = "block";
            } else if (category === "bottom") {
                document.getElementById("bottomOptions").style.display = "block";
            } else if (category === "shoes") {
                document.getElementById("shoesOptions").style.display = "block";
            }
        }

        // Makes sure that everything has been filled out
        function validateForm() {
            var categorySelected = false;

            var category = document.querySelector('input[name="category"]:checked');
            if (category) {
                categorySelected = true;
            }

            if (categorySelected) {
                var categoryValue = category.value;

                // Shoes has less options so check separately
                if (categoryValue === "shoes") {
                    var options = document.querySelector('input[name="shoe_pattern"]:checked');
                    var pattern = document.querySelector('input[name="shoe_pattern"]:checked');

                    if ( !pattern || !options) {
                        alert("Please select options for the chosen category.");
                        return false;
                    }
                } 
                // check for other categories
                else {
                    var options = document.querySelectorAll('input[name="' + categoryValue + '_type"]:checked');
                    var pattern = document.querySelector('input[name="' + categoryValue + '_pattern"]:checked');
                    var fit = document.querySelector('input[name="' + categoryValue + '_fit"]:checked');

                    if (!options  || !pattern || !fit) {
                        alert("Please select options for the chosen category.");
                        return false;
                    }
                }

                return true;
            } else {
                alert("Please select a clothing category.");
                return false;
            }
        }
    </script>
</head>
<body onload="document.uploadForm.reset()">
    <h1>Upload an Image</h1>
    <form method="POST" name="uploadForm" enctype="multipart/form-data" action="/upload" id="uploadForm" onsubmit="return validateForm()">
        <input type="file" name="file" required>

    </br>
    </br>

    <label>Select Clothing Category:</label><br>
        <input type="radio" name="category" value="top" id="top" onclick="showOptions('top')"> Top
        <input type="radio" name="category" value="bottom" id="bottom" onclick="showOptions('bottom')"> Bottom
        <input type="radio" name="category" value="shoes" id="shoes" onclick="showOptions('shoes')"> Shoes<br><br>

        <div id="topOptions" style="display:none;">
            <label>Top Options:</label>
            <input type="radio" name="top_type" value="short_sleeve"> Short Sleeve
            <input type="radio" name="top_type" value="long_sleeve"> Long Sleeve
            <input type="radio" name="top_type" value="tank_top"> Tank Top<br>
            
            <label>Fit:</label>
            <input type="radio" name="top_fit" value="oversize"> Oversize
            <input type="radio" name="top_fit" value="fits_well"> Fits Well
            <input type="radio" name="top_fit" value="tight"> Tight<br>
            
            <!--
            <label>Main Color:</label>
            <input type="radio" name="top_color" value="red"> Red
            <input type="radio" name="top_color" value="orange"> Orange
            <input type="radio" name="top_color" value="yellow"> Yellow 
            <input type="radio" name="top_color" value="green"> Green
            <input type="radio" name="top_color" value="blue"> Blue
            <input type="radio" name="top_color" value="purple"> Purple
            <input type="radio" name="top_color" value="white"> White
            <input type="radio" name="top_color" value="black"> Black
            <input type="radio" name="top_color" value="pink"> Pink
            <input type="radio" name="top_color" value="grey"> Grey
            <input type="radio" name="top_color" value="brown"> Brown
            <br>
            -->
            <label>Pattern:</label>
            <input type="radio" name="top_pattern" value="pattern"> Pattern
            <input type="radio" name="top_pattern" value="no_pattern"> No Pattern<br>

        </div>

        <div id="bottomOptions" style="display:none;">
            <label>Bottom Options:</label>
            <input type="radio" name="bottom_type" value="shorts"> Shorts
            <input type="radio" name="bottom_type" value="pants"> Pants
            <input type="radio" name="bottom_type" value="skirt"> Skirt <br>
            
            <label>Fit:</label>
            <input type="radio" name="bottom_fit" value="oversize"> Oversize
            <input type="radio" name="bottom_fit" value="fits_well"> Fits Well
            <input type="radio" name="bottom_fit" value="tight"> Tight<br>
            
            <!--
            <label>Main Color:</label>
            <input type="radio" name="bottom_color" value="red"> Red
            <input type="radio" name="bottom_color" value="orange"> Orange
            <input type="radio" name="bottom_color" value="yellow"> Yellow 
            <input type="radio" name="bottom_color" value="green"> Green
            <input type="radio" name="bottom_color" value="blue"> Blue
            <input type="radio" name="bottom_color" value="purple"> Purple
            <input type="radio" name="bottom_color" value="white"> White
            <input type="radio" name="bottom_color" value="black"> Black
            <input type="radio" name="bottom_color" value="pink"> Pink
            <input type="radio" name="bottom_color" value="grey"> Grey
            <input type="radio" name="bottom_color" value="brown"> Brown
            <br>
            -->
            <label>Pattern:</label>
            <input type="radio" name="bottom_pattern" value="pattern"> Pattern
            <input type="radio" name="bottom_pattern" value="no_pattern"> No Pattern<br>

        </div>

        <div id="shoesOptions" style="display:none;">
            <label>Shoe Options:</label>
            <input type="radio" name="shoe_type" value="low_top"> Low-Top
            <input type="radio" name="shoe_type" value="high_top"> High-Top 
            <input type="radio" name="shoe_type" value="open_toed"> Open-Toed <br>
            
            <!--
            <label>Main Color:</label>
            <input type="radio" name="shoe_color" value="red"> Red
            <input type="radio" name="shoe_color" value="orange"> Orange
            <input type="radio" name="shoe_color" value="yellow"> Yellow 
            <input type="radio" name="shoe_color" value="green"> Green
            <input type="radio" name="shoe_color" value="blue"> Blue
            <input type="radio" name="shoe_color" value="purple"> Purple
            <input type="radio" name="shoe_color" value="white"> White
            <input type="radio" name="shoe_color" value="black"> Black
            <input type="radio" name="shoe_color" value="pink"> Pink
            <input type="radio" name="shoe_color" value="grey"> Grey
            <input type="radio" name="shoe_color" value="brown"> Brown
            <br>
            -->
            
            <label>Pattern:</label>
            <input type="radio" name="shoe_pattern" value="pattern"> Pattern
            <input type="radio" name="shoe_pattern" value="no_pattern"> No Pattern<br>
            
        </div>

        <input type="submit" value="Upload" id="uploadButton" >

    </form>
    
</body>
</html>

